<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">
  <proxies>
    <proxy>
      <id>env-http-proxy</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>10.156.44.117</host>
      <port>443</port>
      <nonProxyHosts>localhost|127.0.0.1|::1</nonProxyHosts>
    </proxy>
    <proxy>
      <id>env-https-proxy</id>
      <active>true</active>
      <protocol>https</protocol>
      <host>10.156.44.117</host>
      <port>443</port>
      <nonProxyHosts>localhost|127.0.0.1|::1</nonProxyHosts>
    </proxy>
  </proxies>

</settings>
