menu "Wireless Debug Cloud MQTT"

config CLOUD_MQTT_ENABLE
    bool "Enable cloud MQTT remote status and control"
    default y

config CLOUD_MQTT_DEVICE_ID
    string "Cloud MQTT device ID"
    default "esp32-001"

config CLOUD_MQTT_URI
    string "Cloud MQTT broker URI"
    default "mqtt://192.168.1.100:1883"

endmenu
